<h1>All Reviews by <%= @user.name %></h1>

<% @user.reviews.each do |review| %>
  <p>
    <b>Game:</b> <a href="/games/<%= review.game_id %>"><%= review.game.name %></a>
    ---
    <b>Message:</b> <%= review.message %>
  </p>
<% end %>

<br><br><br>

<a href="/games"><= Back to all games</a>

<br>

<% if session[:email] %>
  <% user = User.find_by(:email => session[:email]) %>
  <p>
    Logged in as <a href="/users/<%= user.id %>"><%= user.name %></a><br>
    <a href="/logout">Logout</a>
  </p>
<% else %>
  <p>
    <%= "You are not logged in."%> <br>
    <a href="/login">Login</a> <br>
    <a href="/signup">Sign up</a> <br>
  </p>
<% end %>