<h1><%= @game.name %></h1>

<h2>Reviews</h2>
<% @game.reviews.each do |review|%>
  <p>
    From @<a href="/users/<%= review.user_id %>"><%= review.user.name %></a>, <%= review.message %>

    <% if review.user.email == session[:email] %>
      <a href="/games/<%= @game.id %>/reviews/<%= review.id %>/edit"><input type="button" value="Edit" /></a>
      <a href="/games/<%= @game.id %>/reviews/<%= review.id %>/delete"><input type="button" value="Delete" /></a>
    <% end %>
  </p>
<% end %>

<br>

<a href="/games/<%= @game.id %>/reviews/new"><input type="button" value="Add new review"></a>

<br><br><br>

<a href="/games"><= Back to all games</a>

<br><br>

<% if session[:email] %>
  <%= "Logged in as #{session[:email]}."%> <br>
  <a href="/logout">Logout</a>
<% else %>
  <%= "You are not logged in."%> <br>
  <a href="/login">Login</a> <br>
  <a href="/signup">Sign up</a> <br>
<% end %>