<h2>Are you sure you want to delete the following review?</h2>

<p><b>Game: </b><%= @review.game.name %></p>
<p><b>Review: </b><%= @review.message %></p>


<form method="POST" action="/reviews/<%= @review.id %>">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Yes, Delete">
</form>

<a href="/games/<%= @review.game.id %>"><input type="button" value="No, Cancel"></a>

<br><br>

<% if session[:email] %>
  <%= "Logged in as #{session[:email]}."%> <br>
  <a href="/logout">Logout</a>
<% else %>
  <%= "You are not logged in."%> <br>
  <a href="/login">Login</a> <br>
  <a href="/signup">Sign up</a> <br>
<% end %>