<h1>Add new review</h1>

<h2>For <%= @game.name %></h2>

<form method="POST" action="/<%= @game.id %>/reviews">
  Review: <input type="text" name="message" />
  <input type="submit" value="Add">
</form>

<a href="/games/<%= @game.id %>"><input type="button" value="Cancel"></a>

<br><br>

<% if session[:email] %>
  <%= "Logged in as #{session[:email]}."%> <br>
  <a href="/logout">Logout</a>
<% else %>
  <%= "You are not logged in."%> <br>
  <a href="/login">Login</a> <br>
  <a href="/signup">Sign up</a> <br>
<% end %>
